<!DOCTYPE html>
<%
  const title = 'タイトル';
  const publisher = 'OR-IKEDA';
  const menus = ['Top','Features','About','Contact',]
  const pageMeta = {title, publisher, menus}
%>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %> | <%= publisher %></title>
</head>
<body>
<%- include( 'includes/_header.ejs', { meta: pageMeta } )%>
<%- include( 'includes/_footer.ejs', { meta: pageMeta } )%>
</body>
</html>