<!DOCTYPE html>
<%
  const title = 'はじめてのEJS!';
  const publisher = 'OR-IKEDA';
%>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %> | <%= publisher %></title>
</head>
<body>
  <h1><%= title %></h1>
</body>
</html>